/* .title {
  background-color: black;
  height: 100px;
}

.glass-model {
  background-color: white;
}

.glass-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
}
.glass-wrap img {
  margin-left: 2%;
  margin-top: 2%;
  width: 150px;
  height: 100px;
} */
